<!DOCTYPE html>
<html>
<head>
	<title>project 1</title>
	<link rel= "stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
	<nav class="navitem bg-dark">
		<div class="container">
			<h1 class="logo text-light">WT</h1>
	        <ul class="item">
		          <li><a href="index.html">HOME</a></li>
		          <li><a href="about.html">ABOUT</a></li>
		          <li><a href="/">CONTACT</a></li>
		          <!-- <div class="clearfix"></div> -->
	        </ul>
	    </div>
	</nav>

	<section class="about">
		<div class="container">
		     <h2 class="text-black">About us</h2>
		     <p class="text-gray">The bridge crosses the River Thames close to the Tower of London and has become a world-famous symbol of London. As a result, it is sometimes confused with London Bridge, about half a mile upstream.</p>
		     <div class="about-wrap">
		     	<div class="left">
		     		<ul>
		     			<li> about half a mile upstream</li>
		     			<li> about half a mile upstream</li>
		     			<li> about half a mile upstream</li>
		     		</ul>
		     	</div>
		     	<div class="right">
		     		<ul>
		     			<li> about half a mile upstream</li>
		     			<li> about half a mile upstream</li>
		     			<li> about half a mile upstream</li>
		     		</ul>    		
		     	</div>
		     </div>
		   <div class="count">
		   	<div class="count1">
		   		<span>2500</span>
		   		<p>Travelled</p>
		   	</div>
		   	<div class="count2">
		   		<span>500</span>
                   <p>Places</p>
		   	</div>
		   	<div class="count3">
		   		<span>200</span>
                   <p>Guide</p>
		   	</div>
		   	<div class="count4">
		   	     <span>25</span>
                  <p>Sports</p>
		   	</div>	
		   </div>
		   
		   <div class="banner">
		   	<div class="left">
		   		<p>What are you waiting for,reach us right now</p>
		   	</div>
		   	<div class="right">
		   		<a href="contact.html" class="">Contact us</a>
		   	</div>
		   </div>

         </div>
	</section>
   

</body>
</html>